# Assignment 1-5

# Assignment 1

# 1.

In [ ]:
print("Hello Python")

Hello Python

# 2.

In [ ]:
def sum(a,b):
  return a+b;
def div(a,b):
    if b!=0:
      return a/b
    else:
      print("Try different number")

In [ ]:
a1=eval(input('Enter 1st Number : '))
b1=eval(input('Enter 2nd Number :' ))
print("The summation result is",sum(a1,b1))
print("The division result is",div(a1,b1))

Enter 1st Number : 12
Enter 2nd Number :12
The summation result is 24
The division result is 1.0

# 3.

In [ ]:
def area_triangle(base,height):
  return (base*height)/2

In [ ]:
a1=eval(input('Enter base length  : '))
b1=eval(input('Enter height length :' ))
print("The area of triangle is",area_triangle(a1,b1))

Enter base length : 16
Enter height length :68
The area of triangle is 544.0

# 4.

In [15]:
def swap(a,b):
  t=a
  a=b
  b=t
  return (a,b)

In [31]:
a1=eval(input('Enter 1st Number : '))
b1=eval(input('Enter 2nd Number : ' ))
result=swap(a1,b1)
print('After Swaping ', result[0], result[1])

Enter 1st Number : 4
Enter 2nd Number :5
After Swaping  5 4

# 5.

In [ ]:
import random
n = random.randint(0,100)
print(n)

56

# Assignment 2

# 1.

In [1]:
def km_to_mile(a):
  return a/1.609

In [3]:
b1=eval(input('Enter the kilometer :' ))
print("The repected mile is ",km_to_mile(b1), 'miles')

Enter the kilometer :23
The repected mile is  14.294592914853947 miles

# 2.

In [4]:
def cel_to_far(a):
  return a*(9/5)+32

In [8]:
b1=eval(input('Enter the celcius degree in degree celcius : ' ))
print("The repected farenhite degree is ",km_to_mile(b1), 'F')

Enter the celcius degree in degree celcius :0
The repected farenhite degree is  0.0 F

# 3.

In [10]:
import calendar

yy = int(input("Enter year: "))
mm = int(input("Enter month in mumeric form: "))

print(calendar.month(yy, mm))

Enter year: 2021
Enter month: 9
   September 2021
Mo Tu We Th Fr Sa Su
       1  2  3  4  5
 6  7  8  9 10 11 12
13 14 15 16 17 18 19
20 21 22 23 24 25 26
27 28 29 30

# 4.

In [12]:
import cmath  #importing complex math module

a = eval(input('Enter a in aX^2+bX+C form equation : '))
b = eval(input('Enter b in aX^2+bX+C form equation : '))
c = eval(input('Enter c in aX^2+bX+C form equation : '))


d = (b**2) - (4*a*c)  # calculating the discriminant

# finding two solutions
sol1 = (-b-cmath.sqrt(d))/(2*a)
sol2 = (-b+cmath.sqrt(d))/(2*a)

print('The solutions are {0} and {1}'.format(sol1,sol2))

Enter a in aX^2+bX+C form equation : 1
Enter b in aX^2+bX+C form equation : 4
Enter c in aX^2+bX+C form equation : 6
The solution are (-2-1.4142135623730951j) and (-2+1.4142135623730951j)

# 5.

In [27]:
def swap(a,b):
  b,a=a,b
  return (a,b)

In [30]:
a1=eval(input('Enter 1st Number : '))
b1=eval(input('Enter 2nd Number : ' ))
print('After Swaping ', swap(a1,b1))

Enter 1st Number : 10
Enter 2nd Number : 12
After Swaping  (12, 10)

# Assignment 3

# 1.

In [38]:
def number_checking(a):
  if a==0:
    print("The number is zero")
  elif str(a)[0]=='-':
    print("The number is negative")
  else:
    print("The number is positive")

In [39]:
while(1):
  b1= input("press 'Y' or 'y' to continue: ")
  if b1=='y' or b1=='Y':
    a1=eval(input('Enter Number : '))
    number_checking(a1)
  else:
    break

press 'Y' or 'y' to continue: y
Enter Number : 12
The number is positive
press 'Y' or 'y' to continue: y
Enter Number : -12
The number is negative
press 'Y' or 'y' to continue: y
Enter Number : 0
The number is zero
press 'Y' or 'y' to continue: n

# 2.

In [40]:
def odd_even(a):
    if a%2==0:
      print("The number is even")
    else:
      print("The number is odd")

In [43]:
while(1):
  b1= input("press 'Y' or 'y' to continue: ")
  if b1=='y' or b1=='Y':
    try:
      a1=eval(input('Enter Number : '))
      odd_even(a1)
    except:
      print("Enter number correctly")      
  else:
    break

press 'Y' or 'y' to continue: y
Enter Number : 12
The number is even
press 'Y' or 'y' to continue: y
Enter Number : 13
The number is odd
press 'Y' or 'y' to continue: y
Enter Number : []]]]]/
Enter number correctly
press 'Y' or 'y' to continue: y
Enter Number : 90
The number is even
press 'Y' or 'y' to continue: n

# 3.

In [56]:
def leap_year_checking(a):
     if (len(a)==4 or len(a)==3) and int(a[-2:])%4==0:
      print("The year is leap year")
     elif (len(a)==4 or len(a)==3) and int(a[-2:])%4!=0:
      print("The year is not leap year") 
     else:
      print("Enter the year correctly")

In [59]:
while(1):
  b1= input("press 'Y' or 'y' to continue: ")
  if b1=='y' or b1=='Y':
    try:
      a1=input('Enter the year : ')
      leap_year_checking(a1)
    except:
      print("Enter number correctly")      
  else:
    break

press 'Y' or 'y' to continue: y
Enter the year : 1240
The year is leap year
press 'Y' or 'y' to continue: y
Enter the year : 520
The year is leap year
press 'Y' or 'y' to continue: y
Enter the year : 12356
Enter the year correctly
press 'Y' or 'y' to continue: y
Enter the year : 2020
The year is leap year
press 'Y' or 'y' to continue: n

# 4.

In [60]:
def prime_number(a):
    c=0
    for i in range(1,a+1):
      if a%i==0:
        c+=1
    if c==2:    
      print("The number is prime")
    else:
      print("The number is  not prime")

In [62]:
while(1):
  b1= input("press 'Y' or 'y' to continue: ")
  if b1=='y' or b1=='Y':
    try:
      a1=eval(input('Enter Number : '))
      prime_number(a1)
    except:
      print("Enter number correctly")      
  else:
    break

press 'Y' or 'y' to continue: y
Enter Number : 23
The number is prime
press 'Y' or 'y' to continue: y
Enter Number : 12
The number is  not prime
press 'Y' or 'y' to continue: n

# 5.

In [85]:
def prime_number_list(l_interval,u_interval):
  l=[]
  n=l_interval
  while n<=u_interval:
    c=0
    for i in range(1,n+1):
      if n%i==0:
        c+=1
    if c==2:    
      l.append(n)
    n+=1 
  print("Prime numbers in the interval are : ",l)

In [89]:
try:
  a1=eval(input('Enter lower the interval: '))
  b1=eval(input('Enter upper the interval: '))
  prime_number_list(a1,b1)
except:
  print("Enter the intervals correctly")

Enter lower the interval: []]
Enter the intervals correctly

# Assignment 4:

# 1.

In [298]:
def fact(n):
  m=1
  for i in range(1,n+1):
    m=m*i
  return m

In [300]:
fact(9)

362880

# 2.

In [94]:
def table(n):
  for i in range(1,11):
    print(n," * ",i," = ",n*i)

In [97]:
a1=eval(input('Enter the number you want to see for table: '))
table(a1)

Enter the number you want to see for table: 8
8  *  1  =  8
8  *  2  =  16
8  *  3  =  24
8  *  4  =  32
8  *  5  =  40
8  *  6  =  48
8  *  7  =  56
8  *  8  =  64
8  *  9  =  72
8  *  10  =  80

# 3.

In [112]:
def fib(n):
  c1=c=0
  d=1
  x=1
  print(c, end=" ")
  print(d, end=" ")
  while(x<=n-2):
    c1=c
    print(c+d, end=" ")
    c=d
    d=c1+d
    x+=1

In [119]:
a1=eval(input('Enter the range of fibonacci series you desire to see: '))
print("\nThe fibonacci series is in below :\n")
fib(a1)

Enter the range of fibonacci series you desire to see: 9

The fibonacci series is in below :

0 1 1 2 3 5 8 13 21

# 4.

In [196]:
def order(a):
  return eval(a)**len(a)
def armstrong_number(n1):
  c=0
  for i in n1:
    a=cube(i)
    c+=a
  if c==int(n1):
    print("This is armstrong number")
  else:
    print("This is not armstrong number")

In [200]:
a1=input('Enter the number: ')
armstrong_number(a1)

Enter the number: 407
This is armstrong number

# 5.

In [207]:
lower = eval(input("Enter lower interval : "))
upper =eval(input("Enter upper interval : "))
print("\nArmstrong Number in this interval are ")
for num in range(lower, upper + 1):
   order = len(str(num))
   sum = 0
   temp = num
   while temp > 0:
       digit = temp % 10
       sum += digit ** order
       temp //= 10

   if num == sum:
       print(num, end =" ")

Enter lower interval : 100
Enter upper interval : 100000

Armstrong Number in this interval are
153 370 371 407 1634 8208 9474 54748 92727 93084

# 6.

In [143]:
def sum_natural(n):
  return (n*(n+1))/2

In [146]:
a1=eval(input('Enter the range of natural numbers you want to see sum result: '))
print("\nThe summation of result is in below :\n")
for i in range(1,a1+1):
  if i!=a1:
    print(i,"+",end=" ")
  if i==a1:
    print(i,"=",end=" ")
sum_natural(a1)

Enter the range of natural numbers you want to see sum result: 10

The summation of result is in below :

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 =

55.0

# Assignment 5

# 1.

In [209]:
def compute_lcm(x, y):
   if x > y:
       greater = x
   else:
       greater = y

   while(True):
       if((greater % x == 0) and (greater % y == 0)):
           lcm = greater
           break
       greater += 1

   return lcm

num1 = 2
num2 = 3

print("The L.C.M. is", compute_lcm(num1, num2))

The L.C.M. is 6

# 2.

In [210]:
def compute_hcf(x, y):
    if x > y:
        smaller = y
    else:
        smaller = x
    for i in range(1, smaller+1):
        if((x % i == 0) and (y % i == 0)):
            hcf = i 
    return hcf

num1 = 14
num2 = 20

print("The H.C.F. is", compute_hcf(num1, num2))

The H.C.F. is 2

# 3.

In [272]:
def DecimalToBinary(num):
  if num>0:  
    DecimalToBinary(num // 2)
  print(num % 2, end = '')

def DecimalToOctal(num):
    octalNum = 0
    countval = 1
    while (num>0):
      dec_remain = num % 8
      octalNum += dec_remain * countval
      countval = countval * 10
      num //= 8
    print(octalNum)

def DecimalToHexadecimal(num):
  i = 0
  hdn = []
  while num>0:
    rem = num % 16
    if rem<10:
        rem = rem+48
    else:
        rem = rem+55
    hdn.insert(i, chr(rem))
    i = i+1
    num = int(num / 16)
    
  i = i-1
  while i>=0:
    print(end=hdn[i])
    i = i-1

In [274]:
n=eval(input("Enter a positive decimal number : "))
print("Binary Representation",end=" ")
DecimalToBinary(n)
print("\nOctal Representation",end=" ")
DecimalToOctal(n)
print("Hexadecimal Representation",end=" ")
DecimalToHexadecimal(n)

Enter a positive decimal number : 556
Binary Representation 01000101100
Octal Representation 1054
Hexadecimal Representation 22C

In [283]:
n=eval(input("Enter a positive decimal number : "))
print("Binary Representation",bin(n),end=" ")
print("\nOctal Representation",oct(n),end=" ")
print("\nHexadecimal Representation",hex(n),end=" ")

Enter a positive decimal number : 556
Binary Representation 0b1000101100
Octal Representation 0o1054
Hexadecimal Representation 0x22c

# 4.

In [284]:
c=input("Enter a keyboard letter : ")
print("ASCII Value",ord(c))

Enter a keyboard letter : T
ASCII Value 84

# 5.

In [285]:
def calculator(n1,n2,opr):
  if opr=="add":
    return (n1+n2)
  elif opr=="sub":
    return n1-n2
  elif opr=="multi":
    return n1*n2
  elif opr=="div":
    if n2==0:
      return "not possible to divide, enter correct number"
    else:
      return n1/n2