# Assignment 6-10

# Assignment 6

# 1.

In [ ]:
def recur_fibo(n):
   if n <= 1:
       return n
   else:
       return(recur_fibo(n-1) + recur_fibo(n-2))

nterms =eval(input('Enter the range of fibonacci series you desire to see: '))

if nterms <= 0:
   print("Plese enter a positive integer")
else:
   print("Fibonacci sequence:")
   for i in range(nterms):
       print(recur_fibo(i),end=" ")

# 2.

In [ ]:
def recur_fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)  
n =eval(input('Enter the number you desire to see the factorial: '))
if n <= 0:
   print("Plese enter a positive integer")
else:
   print("Factorial of",n," : ",fact(n))

# 3.

In [90]:
def bmi(h,w):
  return w/(ft_to_mt(h)*ft_to_mt(h))
def ft_to_mt(n):
  return 0.0254*((n//1)*12+(n-n//1)*10)

In [93]:
height=eval(input("Enter height of the person in foot and inches representation like(5ft 6inches =5.6) : "))
weight=eval(input("Enter weight of the person in kg : "))
print("BMI of the person is ",bmi(height,weight))

Enter height of the person in foot and inches representation like(5ft 6inches =5.6) : 6.7
Enter weight of the person in kg : 70
BMI of the person is  17.38506921974588

# 4.

In [96]:
import math 
n=eval(input("Enter Number "))
print ("log({0}) : {1}".format(n, math.log(n)))

Enter Number 98.45
log(98.45) : 4.589548805085134

# 5.

In [100]:
def sum_cube_natural(n):
  return ((n*(n+1))/2)**2
a1=eval(input('Enter the range of natural numbers you want to see sum result: '))
print("\nThe summation of result is in below :\n")
for i in range(1,a1+1):
  if i!=a1:
    print(i,"^3 +",end=" ")
  if i==a1:
    print(i,"^3 =",end=" ")
sum_cube_natural(a1)

Enter the range of natural numbers you want to see sum result: 12

The summation of result is in below :

1 ^3 + 2 ^3 + 3 ^3 + 4 ^3 + 5 ^3 + 6 ^3 + 7 ^3 + 8 ^3 + 9 ^3 + 10 ^3 + 11 ^3 + 12 ^3 =

6084.0

# Assignment 7

# 1.

In [31]:
arr =eval(input("Enter Array elemnts with comma: "))

sum = 0   
for i in range(0, len(arr)):    
   sum = sum + arr[i] 
print("Sum of all the elements of an array: ",sum)

Enter Array elemnts with comma: 23,12,54,23,11,90
Sum of all the elements of an array:  213

# 2.

In [32]:
arr =eval(input("Enter Array elemnts with comma: "))  
print("Largest elements in the array is : ",max(arr))

Enter Array elemnts with comma: 12,34,24,25,87,221,9,54
Largest elements in the array is :  221

# 3.

In [37]:
arr =eval(input("Enter Array elemnts with comma: ")) 
print("Rotation of Array : ") 
for i in range(len(arr)-1,-1,-1):
  print(arr[i],end=" ")

Enter Array elemnts with comma: 1,2,3,4,6,7,8,9
Rotation of Array :
9 8 7 6 4 3 2 1

# 4.

In [65]:
arr=[12,23,4,5,6,7,21,4]
arr2=[]
split_length=(len(arr)//2)
print(split_length)
arr1=arr[0:split_length]
for i in range(split_length):
  arr2.append(arr[0])
  arr.remove(arr[0])
arr.extend(arr2)  
print(arr)

4
[6, 7, 21, 4, 12, 23, 4, 5]

# 5.

In [71]:
 def isMonotonic(a):
  return (all(a[i] <= a[i + 1] for i in range(len(a) - 1)) or all(a[i] >= a[i + 1] for i in range(len(a) - 1)))
  
arr =eval(input("Enter Array elemnts with comma: ")) 
print("\nIs the array monotonic ? ")
print(isMonotonic(arr))

Enter Array elemnts with comma: 1,2,3,4,34

Is the array monotonic ?
True

# Assignment 8

# 1.

In [107]:
X = [[1,52,3],
    [4 ,5,36],
    [47 ,44,19]]
 
Y = [[19,8,7],
    [62,15,4],
    [3,32,1]]
 
 
result = [[0,0,0],
        [0,0,0],
        [0,0,0]]
 
for i in range(len(X)):
  for j in range(len(X[0])):
    result[i][j] = X[i][j] + Y[i][j]
print("The Result of Matrix Addition is ")
for r in result:
    print(r)

The Result of Matrix Addition is
[20, 60, 10]
[66, 20, 40]
[50, 76, 20]

# 2.

In [111]:
X= [[2, 7, 3],
    [4, 5, 6],
    [7, 8, 9]]
 
Y = [[1, 8, 1, 2],
    [3, 7, 3, 0],
    [4, 5, 9, 1]]
     
result = [[0, 0, 0, 0],
        [0, 0, 0, 0],
        [0, 0, 0, 0]]
 
for i in range(len(X)):
  for j in range(len(Y[0])):
    for k in range(len(Y)):
      result[i][j] += X[i][k] * Y[k][j]
print("The Result of Matrix Multiplication is ")
for r in result:
    print(r)

The Result of Matrix Multiplication is
[35, 80, 50, 7]
[43, 97, 73, 14]
[67, 157, 112, 23]

# 3.

In [117]:
M = 3
N = 4

def transpose(A, B):
  for i in range(N):
    for j in range(M):
      B[i][j] = A[j][i]
  
A = [ [1, 1, 1, 1],
    [2, 2, 2, 2],
    [3, 3, 3, 3]]

B = [[0 for x in range(M)] for y in range(N)] 
  
transpose(A, B)
  
print("Result matrix is")
for i in range(N):
    for j in range(M):
        print(B[i][j], " ", end='')
    print()

Result matrix is
1  2  3
1  2  3
1  2  3
1  2  3

# 4.

In [131]:
def sort_func(S):
  W = S.split(" ")
  for i in range(len(W)):
    W[i]=W[i].lower()
    S = sorted(W)
  print(" ".join(S))

In [133]:
input='Sausage Orange Tango Lemon Pears Apple'
sort_func(input)

apple lemon orange pears sausage tango

# 5.

In [134]:
test_str = "Gfg, is best : for ! Geeks ;"

punc = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
 
for ele in test_str:
    if ele in punc:
        test_str = test_str.replace(ele, "")
 
print("The string after punctuation filter : " + test_str)

The string after punctuation filter : Gfg is best  for  Geeks

# Assignment 9:

# 1.
Input   : n = 135
Output  : Yes 
1^1 + 3^2 + 5^3 = 135
Therefore, 135 is a Disarium number

In [15]:

 
def check_disarium(n) :
  import math
  digit_count = len(str(n))
  sum = 0  
  x = n
  while (x!=0) :
    rem = x % 10
    sum = int((sum + math.pow(rem,digit_count)))
    digit_count = digit_count- 1
    x = x//10
  if sum == n :
    print("This is Disarium Number")
  else:
    print("This is not a Disarium Number")

In [17]:
num = eval(input("Enter number : "))  
check_disarium(num)

Enter number : 135
This is Disarium Number

# 2.

In [21]:
def check_disarium(n) :
  import math
  digit_count = len(str(n))
  sum = 0  
  x = n
  while (x!=0) :
    rem = x % 10
    sum = int((sum + math.pow(rem,digit_count)))
    digit_count = digit_count- 1
    x = x//10
  if sum == n :
    return n
check_disarium(135)
l=eval(input("Enter lower interval : "))
u=eval(input("Enter upper interval : "))
print("Disarium numbers in this interval : ")
while (l<=u ) :
    if check_disarium(l)==l :
        print(l,end=" ")
    l=l + 1

Enter lower interval : 1
Enter upper interval : 100
Disarium numbers in this interval :
1 2 3 4 5 6 7 8 9 89

# 3.

A number is called happy if it leads to 1 after a sequence of steps wherein each step number is replaced by the sum of squares of its digit that is if we start with Happy Number and keep replacing it with digits square sum, we reach 1. 

Examples : 

Input: n = 19
Output: True
19 is Happy Number,
1^2 + 9^2 = 82
8^2 + 2^2 = 68
6^2 + 8^2 = 100
1^2 + 0^2 + 0^2 = 1
As we reached to 1, 19 is a Happy Number.

In [13]:
def isHappyNumber(num):    
    rem = sum = 0;        
    while(num > 0):    
        rem = num%10    
        sum = sum + (rem*rem)    
        num = num//10 
    return sum
        
num = eval(input("Enter number : "))  
result = num   
     
while(result != 1 and result != 4):    
    result = isHappyNumber(result)   
     
  
if(result == 1):    
    print(str(num) + " is a happy number");    

elif(result == 4):    
    print(str(num) + " is not a happy number");

Enter number : 82
82 is a happy number

# 4.

In [35]:
def isHappyNumber(num):  
  rem = sum = 0   
  while(num > 0):  
    rem = num%10  
    sum = sum + (rem*rem)  
    num = num//10 
  return sum

l=eval(input("Enter lower interval : "))
u=eval(input("Enter upper interval : "))            
print("Happy numbers in this interval : ")
for i in range(l,u+1):  
  result = i
  while(result != 1 and result != 4):
    result = isHappyNumber(result)  
  if(result == 1):
    print(i,end=" ")

Enter lower interval : 1
Enter upper interval : 100
Happy numbers in this interval :
1 7 10 13 19 23 28 31 32 44 49 68 70 79 82 86 91 94 97 100

# 5.

If a number is divisible by the sum of its digits, then it will be known as a Harshad Number.

The number 156 is divisible by the sum (12) of its digits (1, 5, 6 ).

In [15]:
num = eval(input("Enter number : "))  
rem = sum = 0 
n = num
     
while(num > 0):    
    rem = num%10;    
    sum = sum + rem;    
    num = num//10;    
       
if(n%sum == 0):    
    print(str(n) + " is a harshad number") 
else:    
    print(str(n) + " is not a harshad number")

Enter number : 156
156 is a harshad number

# 6.

Pronic number is a number which is the product of two consecutive integers, that is, a number n is a product of x and (x+1).

The first few Pronic numbers are: 
0, 2, 6, 12, 20, 30, 42, 56, 72, 90, 110, 132, 156, 182, 210, 240, 272, 306, 342, 380, 420, 462

In [23]:
def checkPronic (x) :
  import math
  i = 0
  while ( i <= (int)(math.sqrt(x)) ) :
    if ( x == i * (i + 1)) :
      return True
    i = i + 1
  return False

l=eval(input("Enter lower interval : "))
u=eval(input("Enter upper interval : "))
print("Pronic numbers in this interval : ")
while (l<=u ) :
    if checkPronic(l) :
        print(l,end=" ")
    l=l + 1

Enter lower interval : 1
Enter upper interval : 100
Pronic numbers in this interval :
2 6 12 20 30 42 56 72 90

# Assignment 10:

# 1.

In [26]:
l=[10,13,15,65,32,23,12]
s=0
for i in l:
  s=s+i
print("Sum of elements in the list is ",s)

Sum of elements in the list is  170

# 2.

In [30]:
l=[10,13,15,65,32,23,12]
s=1
for i in l:
  s=s*i
print("Multiplication of elements in the list is ",s)

Multiplication of elements in the list is  1119456000

# 3.

In [32]:
l=[10,13,15,65,32,23,12]
print("Smallest number in the list",min(l))

Smallest number in the list 10

# 4.

In [33]:
l=[10,13,15,65,32,23,12]
print("Largest number in the list",max(l))

Largest number in the list 65

# 5.

In [43]:
l=[10,13,15,65,32,23,12]
l.remove(max(l))
print("Second largest number in the list",max(l))

Second largest number in the list 32

# 6.

In [49]:
l=[10,13,15,65,32,23,12]
k=eval(input("Enter the number you want see that largest number "))
for i in range(k-1):
  l.remove(max(l))
print("{0} no. largest number in the list is {1}".format(k,max(l)))

Enter the number you want see that largest number 3
3 no. largest number in the list is 23

# 7.

In [55]:
l=[10,13,15,65,32,23,12]
[x for x in l if x%2 == 0]

[10, 32, 12]

# 8.

In [56]:
l=[10,13,15,65,32,23,12]
[x for x in l if x%2 != 0]

[13, 15, 65, 23]

# 9.

In [111]:
l=[10,13,[],15,65,[],32,[],23,[],12,[]]

print([x for x in l if x])

[10, 13, 15, 65, 32, 23, 12]

# 10.

In [82]:
import copy
l=[10,13,15,65,32,23,12,65,34,6,46,65,78,65,45]

l1= copy.copy(l)   #shallow copy

print(l1)

[10, 13, 15, 65, 32, 23, 12, 65, 34, 6, 46, 65, 78, 65, 45]

# 11.

In [67]:
l=[10,13,15,65,32,23,12,65,34,6,46,65,78,65,45]
n=eval(input("Enter a number you want to count occurance : "))
if n not in l:
  print("The number is not in the list")
else:
  print("Occurance of {0} is {1}".format(n,l.count(n)))

Enter a number you want to count occurance : 65
Occurance of 65 is 4